/* Bookings component styles */

.table-wrapper {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
  position: relative;
}

.table-wrapper thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f9fafb;
}
